In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql import functions as Func 
from pyspark.sql.functions import *

In [2]:
#iniciando uma Spark Session
spark = SparkSession.builder \
    .master("local") \
        .appName("exercicioSparkSQL") \
            .config("spark.driver.memory","1g") \
                .getOrCreate()

1. Crie um banco de dados no DW do Spark chamado VendasVarejo, e persista todas as tabelas neste banco de dados

In [3]:
spark.sql("create database VendasVarejo")

DataFrame[]

In [4]:
spark.sql("show databases").show()

+------------+
|   namespace|
+------------+
|     default|
|vendasvarejo|
+------------+

In [5]:
spark.sql("use vendasvarejo")

DataFrame[]

In [6]:
clientes = spark.read.format("parquet").load("D:\downloads\Atividades\Clientes.parquet")
itensVendas = spark.read.format("parquet").load("D:\downloads\Atividades\ItensVendas.parquet")
produtos = spark.read.format("parquet").load("D:\downloads\Atividades\Produtos.parquet")
vendas = spark.read.format("parquet").load("D:\downloads\Atividades\Vendas.parquet")
vendedores = spark.read.format("parquet").load("D:\downloads\Atividades\Vendedores.parquet")

In [7]:
clientes.show()

+---------+--------------------+------+------+--------+
|ClienteID|             Cliente|Estado|Genero|  Status|
+---------+--------------------+------+------+--------+
|        1|Adelina Buenaventura|    RJ|     M|  Silver|
|        2|        Adelino Gago|    RJ|     M|  Silver|
|        3|     Adolfo Patrício|    PE|     M|  Silver|
|        4|    Adriana Guedelha|    RO|     F|Platinum|
|        5|       Adélio Lisboa|    SE|     M|  Silver|
|        6|       Adérito Bahía|    MA|     M|  Silver|
|        7|       Aida Dorneles|    RN|     F|  Silver|
|        8|   Alarico Quinterno|    AC|     M|  Silver|
|        9|    Alberto Cezimbra|    AM|     M|  Silver|
|       10|    Alberto Monsanto|    RN|     M|    Gold|
|       11|       Albino Canela|    AC|     M|  Silver|
|       12|     Alceste Varanda|    RR|     F|  Silver|
|       13|  Alcides Carvalhais|    RO|     M|  Silver|
|       14|        Aldo Martins|    GO|     M|  Silver|
|       15|   Alexandra Tabares|    MG|     F|  Silver|
|       16|      Alfredo Cotrim|    SC|     M|  Silver|
|       17|     Almeno Figueira|    SC|     M|  Silver|
|       18|      Alvito Peralta|    AM|     M|  Silver|
|       19|     Amadeu Martinho|    RN|     M|  Silver|
|       20|      Amélia Estévez|    PE|     F|  Silver|
+---------+--------------------+------+------+--------+
only showing top 20 rows

In [8]:
itensVendas.show()

+---------+--------+----------+-------------+----------+--------+----------------+
|ProdutoID|VendasID|Quantidade|ValorUnitario|ValorTotal|Desconto|TotalComDesconto|
+---------+--------+----------+-------------+----------+--------+----------------+
|        2|     400|         2|       9201.0|   18402.0| 6256,68|        12145.32|
|        2|     385|         2|       9201.0|   18402.0| 5704,62|        12697.38|
|        4|     395|         2|       6892.2|   13784.4| 5100,23|         8684.17|
|        4|     367|         2|       6509.3|   13018.6| 4816,88|         8201.72|
|        2|     380|         2|      7038.77|  14077.54| 4364,04|          9713.5|
|        2|     346|         2|       8280.9|   16561.8| 4140,45|        12421.35|
|        2|     339|         2|       8280.9|   16561.8| 3312,36|        13249.44|
|        2|     397|         1|       9201.0|    9201.0| 3312,36|         5888.64|
|        1|     346|         2|       7966.8|   15933.6| 3186,72|        12746.88|
|        2|     264|         2|       8280.9|   16561.8| 3146,74|        13415.06|
|        4|     355|         2|      5858.37|  11716.74| 3046,35|         8670.39|
|        2|     376|         1|       8280.9|    8280.9| 2981,12|         5299.78|
|        2|     374|         1|       9201.0|    9201.0| 2944,32|         6256.68|
|        1|     397|         1|       7524.2|    7524.2| 2859,20|          4665.0|
|        2|     303|         2|       8280.9|   16561.8| 2815,51|        13746.29|
|        4|     358|         2|       6509.3|   13018.6| 2733,91|        10284.69|
|        4|     374|         1|       7658.0|    7658.0| 2527,14|         5130.86|
|        3|     336|         2|       4255.0|    8510.0| 2467,90|          6042.1|
|        1|     399|         1|      6771.78|   6771.78| 2437,84|         4333.94|
|        1|     292|         2|      6771.78|  13543.56| 2437,84|        11105.72|
+---------+--------+----------+-------------+----------+--------+----------------+
only showing top 20 rows

In [9]:
produtos.show()

+---------+--------------------+---------+
|ProdutoID|             Produto|    Preco|
+---------+--------------------+---------+
|        1|Bicicleta Aro 29 ...|8.852,00 |
|        2|Bicicleta Altools...|9.201,00 |
|        3|Bicicleta Gts Adv...|4.255,00 |
|        4|Bicicleta Trinc C...|7.658,00 |
|        5|Bicicleta Gometws...|2.966,00 |
|        6|Bicicleta Gometws...|2.955,00 |
|        7|Capacete Gometws ...|  155,00 |
|        8|Luva De Ciclismo ...|  188,00 |
|        9|Bermuda Predactor...|  115,00 |
|       10|Camiseta Predacto...|  135,00 |
+---------+--------------------+---------+

In [10]:
vendas.show()

+--------+----------+---------+---------+--------+
|VendasID|VendedorID|ClienteID|     Data|   Total|
+--------+----------+---------+---------+--------+
|       1|         1|       91| 1/1/2019|  8053.6|
|       2|         6|      185| 1/1/2020|   150.4|
|       3|         7|       31| 2/1/2020|  6087.0|
|       4|         5|       31| 2/1/2019| 13828.6|
|       5|         5|       31| 3/1/2018|26096.66|
|       6|         5|       31| 4/1/2020| 18402.0|
|       7|         5|       31| 6/1/2019|  7524.2|
|       8|         5|      186| 6/1/2019| 12036.6|
|       9|         7|       91| 6/1/2020| 2804.75|
|      10|         2|      202| 6/1/2020|  8852.0|
|      11|         7|       58| 8/1/2019|16545.25|
|      12|         7|       58| 9/1/2018|11411.88|
|      13|         7|       58|10/1/2019| 15829.7|
|      14|         3|      249|12/1/2020| 6154.36|
|      15|         4|      249|12/1/2018| 3255.08|
|      16|         7|      192|13/1/2020| 2901.25|
|      17|         2|       79|13/1/2019| 15829.7|
|      18|        10|       79|14/1/2019|16996.36|
|      19|        10|      191|14/1/2019|   155.0|
|      20|         9|      218|15/1/2018|  131.75|
+--------+----------+---------+---------+--------+
only showing top 20 rows

In [11]:
vendedores.show()

+----------+----------------+
|VendedorID|        Vendedor|
+----------+----------------+
|         1|    Armando Lago|
|         2|Capitolino Bahía|
|         3|   Daniel Pirajá|
|         4| Godo Capiperibe|
|         5|  Hélio Liberato|
|         6|   Iberê Lacerda|
|         7|Jéssica Castelão|
|         8| Napoleão Méndez|
|         9|    Simão Rivero|
|        10|  Tobias Furtado|
+----------+----------------+

In [12]:
clientes.write.saveAsTable("Clientes")
itensVendas.write.saveAsTable("ItensVendas")
produtos.write.saveAsTable("Produtos")
vendas.write.saveAsTable("Vendas")
vendedores.write.saveAsTable("Vendedores")

In [14]:
spark.sql("show tables").show()

+------------+-----------+-----------+
|   namespace|  tableName|isTemporary|
+------------+-----------+-----------+
|vendasvarejo|   clientes|      false|
|vendasvarejo|itensvendas|      false|
|vendasvarejo|   produtos|      false|
|vendasvarejo|     vendas|      false|
|vendasvarejo| vendedores|      false|
+------------+-----------+-----------+

2. Crie uma consulta que mostre de cada item vendido: Nome do cliente, Data da Venda, Produto, Vendedor e Valor Total do item

In [31]:
consulta = spark.sql("select itensvendas.*, vendas.ClienteID, clientes.Cliente, vendas.data, produtos.produto, vendedores.vendedor from vendedores, itensvendas, vendas, clientes, produtos WHERE itensvendas.vendasid = vendas.vendasid AND vendas.clienteid = clientes.clienteid AND itensvendas.produtoid = produtos.produtoid AND vendas.vendedorid = vendedores.vendedorid")

In [32]:
consulta.count()

940

In [33]:
itensVendas.count()

940

In [36]:
consulta.show()

+---------+--------+----------+-------------+----------+--------+----------------+---------+-----------------+--------+--------------------+----------------+
|ProdutoID|VendasID|Quantidade|ValorUnitario|ValorTotal|Desconto|TotalComDesconto|ClienteID|          Cliente|    data|             produto|        vendedor|
+---------+--------+----------+-------------+----------+--------+----------------+---------+-----------------+--------+--------------------+----------------+
|        2|       1|         1|      7820.85|   7820.85|     -  |         7820.85|       91|   Cosme Zambujal|1/1/2019|Bicicleta Altools...|    Armando Lago|
|        9|       1|         1|        97.75|     97.75|    0,98|           96.77|       91|   Cosme Zambujal|1/1/2019|Bermuda Predactor...|    Armando Lago|
|       10|       1|         1|        135.0|     135.0|    1,35|          133.65|       91|   Cosme Zambujal|1/1/2019|Camiseta Predacto...|    Armando Lago|
|        8|       2|         1|        150.4|     150.4|    1,50|           148.9|      185|Gertrudes Hidalgo|1/1/2020|Luva De Ciclismo ...|   Iberê Lacerda|
|        7|       3|         1|        155.0|     155.0|     -  |           155.0|       31| Antão Corte-Real|2/1/2020|Capacete Gometws ...|Jéssica Castelão|
|        5|       3|         2|       2966.0|    5932.0|     -  |          5932.0|       31| Antão Corte-Real|2/1/2020|Bicicleta Gometws...|Jéssica Castelão|
|        2|       4|         1|      7820.85|   7820.85|     -  |         7820.85|       31| Antão Corte-Real|2/1/2019|Bicicleta Altools...|  Hélio Liberato|
|        9|       4|         1|        97.75|     97.75|    0,98|           96.77|       31| Antão Corte-Real|2/1/2019|Bermuda Predactor...|  Hélio Liberato|
|        6|       4|         2|       2955.0|    5910.0|   59,10|          5850.9|       31| Antão Corte-Real|2/1/2019|Bicicleta Gometws...|  Hélio Liberato|
|        6|       5|         1|       2955.0|    2955.0|     -  |          2955.0|       31| Antão Corte-Real|3/1/2018|Bicicleta Gometws...|  Hélio Liberato|
|        4|       5|         1|       7658.0|    7658.0|     -  |          7658.0|       31| Antão Corte-Real|3/1/2018|Bicicleta Trinc C...|  Hélio Liberato|
|        1|       5|         1|       8852.0|    8852.0|     -  |          8852.0|       31| Antão Corte-Real|3/1/2018|Bicicleta Aro 29 ...|  Hélio Liberato|
|       10|       5|         1|        121.5|     121.5|    1,22|          120.29|       31| Antão Corte-Real|3/1/2018|Camiseta Predacto...|  Hélio Liberato|
|        3|       5|         2|      3255.08|   6510.16|   65,10|         6445.06|       31| Antão Corte-Real|3/1/2018|Bicicleta Gts Adv...|  Hélio Liberato|
|        2|       6|         2|       9201.0|   18402.0|  184,02|        18217.98|       31| Antão Corte-Real|4/1/2020|Bicicleta Altools...|  Hélio Liberato|
|        1|       7|         1|       7524.2|    7524.2|     -  |          7524.2|       31| Antão Corte-Real|6/1/2019|Bicicleta Aro 29 ...|  Hélio Liberato|
|        8|       8|         2|        188.0|     376.0|     -  |           376.0|      186|Gertrudes Infante|6/1/2019|Luva De Ciclismo ...|  Hélio Liberato|
|        3|       8|         1|      3616.75|   3616.75|     -  |         3616.75|      186|Gertrudes Infante|6/1/2019|Bicicleta Gts Adv...|  Hélio Liberato|
|       10|       8|         1|        108.0|     108.0|    1,08|          106.92|      186|Gertrudes Infante|6/1/2019|Camiseta Predacto...|  Hélio Liberato|
|        9|       8|         1|        115.0|     115.0|    1,15|          113.85|      186|Gertrudes Infante|6/1/2019|Bermuda Predactor...|  Hélio Liberato|
+---------+--------+----------+-------------+----------+--------+----------------+---------+-----------------+--------+--------------------+----------------+
only showing top 20 rows

### Solução apresentada pelo professor

In [34]:
consulta2 = spark.sql("select c.cliente, v.data, p.produto, vd.vendedor, iv.valortotal from itensvendas iv inner join produtos p on (p.produtoid = iv.produtoid) inner join vendas v on (v.vendasid = iv.vendasid) inner join vendedores vd on (vd.vendedorid = v.vendedorid) inner join clientes c on (c.clienteid = v.clienteid)")

In [35]:
consulta2.count()

940

In [37]:
consulta2.show()

+--------------------+----------+--------------------+----------------+----------+
|             cliente|      data|             produto|        vendedor|valortotal|
+--------------------+----------+--------------------+----------------+----------+
|    Humberto Almeida|28/12/2019|Bicicleta Altools...|   Iberê Lacerda|   18402.0|
|   Bárbara Magalhães|15/12/2020|Bicicleta Altools...|  Hélio Liberato|   18402.0|
|        Artur Macedo|22/12/2018|Bicicleta Trinc C...|  Hélio Liberato|   13784.4|
|    Dinarte Tabalipa| 1/12/2020|Bicicleta Trinc C...|   Daniel Pirajá|   13018.6|
|      Humberto Lemes|12/12/2019|Bicicleta Altools...|    Simão Rivero|  14077.54|
|    Antão Corte-Real|16/11/2018|Bicicleta Altools...|   Iberê Lacerda|   16561.8|
|Cândido Sousa do ...|10/11/2018|Bicicleta Altools...|   Daniel Pirajá|   16561.8|
|      Brígida Gusmão|23/12/2019|Bicicleta Altools...|  Hélio Liberato|    9201.0|
|    Antão Corte-Real|16/11/2018|Bicicleta Aro 29 ...|   Iberê Lacerda|   15933.6|
|   Gertrudes Rabello|  5/9/2019|Bicicleta Altools...|  Hélio Liberato|   16561.8|
|       Adélio Lisboa|23/11/2019|Bicicleta Trinc C...|  Hélio Liberato|  11716.74|
|   Francisca Ramallo| 9/12/2020|Bicicleta Altools...|Jéssica Castelão|    8280.9|
|       Adélio Lisboa| 5/12/2019|Bicicleta Altools...|    Armando Lago|    9201.0|
|      Brígida Gusmão|23/12/2019|Bicicleta Aro 29 ...|  Hélio Liberato|    7524.2|
|    Antão Corte-Real|15/10/2020|Bicicleta Altools...|    Armando Lago|   16561.8|
|Cândido Sousa do ...|24/11/2018|Bicicleta Trinc C...|Jéssica Castelão|   13018.6|
|       Adélio Lisboa| 5/12/2019|Bicicleta Trinc C...|    Armando Lago|    7658.0|
|     Adolfo Patrício| 7/11/2020|Bicicleta Gts Adv...|  Hélio Liberato|    8510.0|
|      Brígida Gusmão|25/12/2019|Bicicleta Aro 29 ...| Godo Capiperibe|   6771.78|
|       Adélio Lisboa| 29/9/2020|Bicicleta Aro 29 ...|Jéssica Castelão|  13543.56|
+--------------------+----------+--------------------+----------------+----------+
only showing top 20 rows