In [1]:
import findspark
findspark.init()
import pyspark

In [4]:
import databricks.koalas as pd

In [5]:
churn = pd.read_csv("D:\downloads\Churn.csv", sep=";")

In [6]:
churn.head()

   CreditScore Geography  Gender  Age  Tenure   Balance  NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female   42       2         0              1          1               1         10134888       1
1          608     Spain  Female   41       1   8380786              1          0               1         11254258       0
2          502    France  Female   42       8   1596608              3          1               0         11393157       1
3          699    France  Female   39       1         0              2          0               0          9382663       0
4          850     Spain  Female   43       2  12551082              1          1               1           790841       0

In [7]:
churn.iloc[1:4,0:4]

   CreditScore Geography  Gender  Age
1          608     Spain  Female   41
2          502    France  Female   42
3          699    France  Female   39

In [8]:
churn['CreditScore'].describe()

count    10000.000000
mean       650.528800
std         96.653299
min        350.000000
25%        584.000000
50%        652.000000
75%        717.000000
max        850.000000
Name: CreditScore, dtype: float64

In [9]:
agrupado = churn.groupby(["Geography"]).size()

In [10]:
agrupado

Geography
Germany    2509
France     5014
Spain      2477
dtype: int64