In [2]:
from pyspark.sql import SparkSession

In [3]:
#iniciando uma Spark Session
spark = SparkSession.builder \
    .master("local") \
        .appName("bancos_e_tabelas") \
            .config("spark.driver.memory","1g") \
                .getOrCreate()

In [4]:
#visualizando os DB que temos
spark.sql("show databases").show()

+---------+
|namespace|
+---------+
|  default|
+---------+

In [5]:
#criando um DB
spark.sql("create database desp")

DataFrame[]

In [6]:
spark.sql("show databases").show()

+---------+
|namespace|
+---------+
|  default|
|     desp|
+---------+

In [7]:
#apontando qual DB vamos usar
spark.sql("use desp")

DataFrame[]

In [16]:
churn = spark.read.csv("D:\downloads\Churn.csv", header=True, inferSchema=True, sep=";")

In [17]:
churn.show(5)

+-----------+---------+------+---+------+--------+-------------+---------+--------------+---------------+------+
|CreditScore|Geography|Gender|Age|Tenure| Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+-----------+---------+------+---+------+--------+-------------+---------+--------------+---------------+------+
|        619|   France|Female| 42|     2|       0|            1|        1|             1|       10134888|     1|
|        608|    Spain|Female| 41|     1| 8380786|            1|        0|             1|       11254258|     0|
|        502|   France|Female| 42|     8| 1596608|            3|        1|             0|       11393157|     1|
|        699|   France|Female| 39|     1|       0|            2|        0|             0|        9382663|     0|
|        850|    Spain|Female| 43|     2|12551082|            1|        1|             1|         790841|     0|
+-----------+---------+------+---+------+--------+-------------+---------+--------------+---------------+------+
only showing top 5 rows

In [18]:
#salvando em uma tabela gerenciada com particionamento geogr√°fico
churn.write.partitionBy("Geography").saveAsTable("Churn_Geo")

In [19]:
spark.sql("select * from Churn_Geo").show(5)

+-----------+------+---+------+--------+-------------+---------+--------------+---------------+------+---------+
|CreditScore|Gender|Age|Tenure| Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|Geography|
+-----------+------+---+------+--------+-------------+---------+--------------+---------------+------+---------+
|        619|Female| 42|     2|       0|            1|        1|             1|       10134888|     1|   France|
|        502|Female| 42|     8| 1596608|            3|        1|             0|       11393157|     1|   France|
|        699|Female| 39|     1|       0|            2|        0|             0|        9382663|     0|   France|
|        822|  Male| 50|     7|       0|            2|        1|             1|         100628|     0|   France|
|        501|  Male| 44|     4|14205107|            2|        0|             1|         749405|     0|   France|
+-----------+------+---+------+--------+-------------+---------+--------------+---------------+------+---------+
only showing top 5 rows

In [20]:
#salvando em uma tabela gerenciada com bucketing
churn.write.bucketBy(3,"Geography").saveAsTable("Churn_Geo2")

In [22]:
spark.sql("select * from Churn_Geo2").show()

+-----------+---------+------+---+------+--------+-------------+---------+--------------+---------------+------+
|CreditScore|Geography|Gender|Age|Tenure| Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+-----------+---------+------+---+------+--------+-------------+---------+--------------+---------------+------+
|        619|   France|Female| 42|     2|       0|            1|        1|             1|       10134888|     1|
|        608|    Spain|Female| 41|     1| 8380786|            1|        0|             1|       11254258|     0|
|        502|   France|Female| 42|     8| 1596608|            3|        1|             0|       11393157|     1|
|        699|   France|Female| 39|     1|       0|            2|        0|             0|        9382663|     0|
|        850|    Spain|Female| 43|     2|12551082|            1|        1|             1|         790841|     0|
|        645|    Spain|  Male| 44|     8|11375578|            2|        1|             0|       14975671|     1|
|        822|   France|  Male| 50|     7|       0|            2|        1|             1|         100628|     0|
|        501|   France|  Male| 44|     4|14205107|            2|        0|             1|         749405|     0|
|        684|   France|  Male| 27|     2|13460388|            1|        1|             1|        7172573|     0|
|        528|   France|  Male| 31|     6|10201672|            2|        0|             0|        8018112|     0|
|        497|    Spain|  Male| 24|     3|       0|            2|        1|             0|        7639001|     0|
|        476|   France|Female| 34|    10|       0|            2|        1|             0|        2626098|     0|
|        549|   France|Female| 25|     5|       0|            2|        0|             0|       19085779|     0|
|        635|    Spain|Female| 35|     7|       0|            2|        1|             1|        6595165|     0|
|        549|    Spain|Female| 24|     9|       0|            2|        1|             1|        1440641|     0|
|        587|    Spain|  Male| 45|     6|       0|            1|        0|             0|       15868481|     0|
|        726|   France|Female| 24|     6|       0|            2|        1|             1|        5472403|     0|
|        732|   France|  Male| 41|     8|       0|            2|        1|             1|       17088617|     0|
|        636|    Spain|Female| 32|     8|       0|            2|        1|             0|       13855546|     0|
|        510|    Spain|Female| 38|     4|       0|            1|        1|             0|       11891353|     1|
+-----------+---------+------+---+------+--------+-------------+---------+--------------+---------------+------+
only showing top 20 rows